<%= render "layouts/user_session" %>
<div class="admin-student-data">
    <div class="card admin-student-card "  >
      <div class="card-body ">
        <div class="admin-student-info">
          <p><%="Name: "+ @student.first_name+" "+ @student.last_name  %></p>
          <p><%="Email: "+ @student.email %></p>
          <p ><%="Phone Number: "+ @student.phone_number%></p>
          <p ><%="Role: "+ @student.type%></p>

        </div>
      </div>
    </div>
    <div>
      <nav class="navbar navbar-expand-lg  nav-text ">
        <h5> Enrolled Courses</h5>
      </nav>
      <%= render "student/student_enrolled_courses" %>
    </div>

</div>